@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Poppins:ital,wght@0,700;1,300;1,400;1,500;1,600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --cinza: #c3bcb7;
    --cinza1: #545454;
    --azul: #1b3b56;
    --azul1: #5271ff;
    --branco: #ffffff;
    --marron: #8b634a;
    --azul2: #17203f;
    --cinza2: #848790;
}
html, body {
    height: 100%;
}
.max-width {
    width: 100%;
    min-height: auto;
}
.bg {
   /* background: url('assets/images/img-logo.jpg') no-repeat; */
    background-size: cover;
    width: 100%;
    height: auto;
}
.container {
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}
.logo {
    background: url('assets/images/img-2.jpg') no-repeat;
    background-size: contain;
    width: 130px;
    position: relative;
    top: 20px;
    z-index: 9;
}
.menu {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    background: var(--cinza);
}
.call {
    display: flex;
    align-items: center;
    margin-top: 120px;
}
.left,
 .right {
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}
img {
    width: 70%;
    object-fit: contain;
}
button {
    padding: 10px 20px;
    background: var(--azul);
    color: var(--branco);
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s ease;
    margin-bottom: 20px;
    margin-top: 20px;
}
button:hover{
    border: 1px solid var(--marron);
    background: var(--marron);
    color: var(--branco);
    transform: scale(1.10);
}
.text-pq{
    font-size: 20px;
}
.text-md {
    font-size: 42px;
}
.text-gd {
    font-size: 72px;
}
.text-title {
    font-size: 20px;
    font-weight: 600;
}
.color-h1 {
    color: var(--azul)
}
.color-p {
    color: var(--azul1)
}
.color-cinza2 {
    color: var(--cinza1)
}

/* #### Desktop-menu #### */

.desktop-menu ul{
    display: flex;
}

.desktop-menu ul li {
    padding: 0 25px;
    list-style-type: none;
}
.desktop-menu ul li a {
    color: var(--azul2);
    text-shadow: 0 0 5px var(--cinza2);
    font-size: 23px;
    font-weight: 300;
    text-decoration: none;
    transition: 0.8s ease;
}

/* #### HEADER #### */
header .container {
    flex-direction: column;
    justify-content: flex-start;
}
header .left {
    flex-direction: column;
    align-items: flex-start;
}