@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Poppins:ital,wght@0,700;1,300;1,400;1,500;1,600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --cinzaclaro: #ccc;
    --cinza: #c3bcb7;
    --cinza1: #545454;
    --azul: #1b3b56;
    --azul1: #5271ff;
    --branco: #ffffff;
    --marron: #8b634a;
    --azul2: #17203f;
    --cinza2: #848790;
    --cinza3: #2b2b2b;
}
html, body {
    height: 100%;
}
.max-width {
    width: 100%;
    min-height: auto;
}
.bg {
    background: var(--cinza);
    background-size: cover;
    width: 100%;
    height: auto;
}

.container {
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}
.titulo {
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 35px;
    text-shadow: 0 0 10px var(--cinza1);
    color: var(--cinza3);
}
.line{
    width: 80%;
    height: 2px;
    background: var(--azul2);
    position: relative;
    top: 40px;
}
.text-titulo{
    position: relative;
    top: -10px;
    z-index: 99;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    font-size: 18px;
    background: var(--marron);
    color: var(--branco)
}
.logo {
    background: url('assets/images/img-logo.jpg') no-repeat;
    background-size: contain;
    width: 130px;
    height: 60px;
    position: relative;
    top: 5px;
    z-index: 9;
}
.menu {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    background: var(--cinza);
}
.call {
    display: flex;
    align-items: center;
    margin-top: 120px;
}
.left,
 .right {
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}
.box{
    width: 70%;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2%;
    transition: 0.5s ease;
}
.down {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 300px;
}
img {
    width: 70%;
    object-fit: contain;
}
button {
    padding: 10px 20px;
    background: var(--azul);
    color: var(--branco);
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s ease;
   
    margin-top: 10px;
}
button:hover{
    border: 1px solid var(--marron);
    background: var(--marron);
    color: var(--branco);
    transform: scale(1.10);
}
.text-pq{
    font-size: 20px;
}
.text-md {
    font-size: 42px;
}
.text-gd {
    font-size: 72px;
}
.text-title {
    font-size: 20px;
    font-weight: 600;
}
.color-h1 {
    color: var(--azul)
}
.color-p {
    color: var(--azul1)
}
.color-cinza2 {
    color: var(--cinza1)
}

#back-to-top {
    position: fixed;
    bottom: 2px;
    right: 10px;
    padding: 5px 10px;
    background: var(--marron);
}

body::-webkit-scrollbar{
    width: 12px;
}
body::-webkit-scrollbar-track{
    background: var(--branco);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--cinza3);
    border-radius: 20px;
    border: 1px solid var(--branco)
}

/* #### Desktop-menu #### */

.desktop-menu ul{
    display: flex;
}

.desktop-menu ul li {
    padding: 0 25px;
    list-style-type: none;
}
.desktop-menu ul li a {
    color: var(--azul2);
    text-shadow: 0 0 5px var(--cinza2);
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    transition: 0.8s ease;
}
.desktop-menu ul li a:hover{
    color:var(--marron);
    text-shadow: 0 0 5px var(--marron);
    font-weight: 400;
    text-decoration: underline;
    
}

/* #### Mobile-menu ##### */

.mobile-menu {
    width: 95%;
    height: auto;
    position: absolute;
    top: 5px;
    background: var(--cinza);
    display: none;
}
.mobile-menu i {
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 23px;
    color: var(--branco);
    cursor: pointer;
}
.mobile-menu ul {
    display: block;
    text-align: center;
}
.mobile-menu ul li {
    list-style-type: none;
    padding: 10px 0;
}
.mobile-menu ul li a {
    text-decoration: none;
    font-weight: 500;
    color: var(--azul2);
    text-shadow: 0 0 5px var(--cinza2);
}
.mobile-menu ul li a:hover {
    color: var(--marron);
    text-shadow: 0 0 5px var(--marron);
    font-weight: 500;
    text-decoration: underline;
}

/* #### HEADER #### */
header .container {
    flex-direction: column;
    justify-content: flex-start;
}
header .left {
    flex-direction: column;
    align-items: flex-start;
}
header .left h1 {
    text-align: start;
    font-weight: 400;
    text-shadow: 0 0 5px var(--cinza2);
    padding: 0 40px;
    margin-top: 29px;
}
header .left p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    text-align: start;
    letter-spacing: 2px;
    text-shadow: 0 0 5px var(--cinza2);
    margin-top: 22px;
    padding: 0 40px;
}
header button {
    margin-top: 30px;
    margin-left: 40px;
}
header .right .imagem {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: 1s ease;
}
header .right .imagem img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 60px;
}

/* #### About #### */

#about .container{
    flex-direction: column;
    align-items: flex-start;
}
#about .titulo h2 {
    font-family: 'Montserrat Alternates', sans-serif;
}
#about .box {
    box-shadow: 0 5px 20px var(--cinza3);
    background: transparent;
    margin-bottom: 120px;
}
#about .box img {
    width: 100%;
}
#about .box .text{
    margin-right: 80px;
}
#about .box .text i {
    position: relative;
    bottom: 35px;
    left: 180px;
    font-size: 20px;
}

/* #### Responsivo #### */

@media screen and (max-width: 920px){
    .text-pq{
        font-size: 13px;
    }
    .text-md {
        font-size: 27px;
    }
    .text-gd {
        font-size: 51px;
    }
}

@media screen and (max-width: 740px) {
    header .right .imagem{
        width: 100%;
    }
    .mobile-menu{
        display: block;
    }
    .desktop-menu ul {
        display: none;
    }
}

@media screen and (max-width: 648px) {
    .left{
    width: 100%;
    min-height: auto;
    padding: 0 2%;
    }
    .right {
     width: 100%;
    min-height: auto;
    padding: 0 2%;
    margin-top: -60px;
    }
    .logo {
        width: 110px;
        top: 10px;
        left: 5px;
    }
    img {
        width: 90%;
    }
    .call {
        flex-direction: column;
        justify-content: flex-start;
    }
    header .left{
        margin-top: -100px;
    }

    header .right .imagem{
        width: 60%;
    }
}

@media screen and (max-width: 428px){
    header .right .imagem{
        width: 80%;
    }
}
